@model RegisterRequest

<h2>Registrarse</h2>
<form asp-action="PostRegister">
    <div class="mb-2">
        <label asp-for="EmpNombre" class="form-label"></label>
        <input class="form-control" asp-for="EmpNombre" />
        <span asp-validation-for="EmpNombre" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="UsuNombre" class="form-label"></label>
        <input class="form-control" asp-for="UsuNombre" />
        <span asp-validation-for="UsuNombre" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="UsuCorreo" class="form-label"></label>
        <input class="form-control" asp-for="UsuCorreo" />
        <span asp-validation-for="UsuCorreo" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="ValidateEmail" class="form-label"></label>
        <input class="form-control" asp-for="ValidateEmail" />
        <span asp-validation-for="ValidateEmail" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="UsuPassword" class="form-label"></label>
        <input type="password" class="form-control" asp-for="UsuPassword" />
        <span asp-validation-for="UsuPassword" class="text-danger"></span>
    </div>
    <input type="submit" value="Registrarme" class="btn btn-primary" />
    @if (ViewBag.ResultMessage != null)
    {
        <p class="alert alert-secondary mt-2">@ViewData["ResultMessage"]</p>   
    }
</form>